@font-face {
    font-family: "Koulen";
    src: url('../font/Koulen/Koulen-Regular.ttf');
}

@font-face {
    font-family: "Train One";
    src: url('../font/TrainOne/TrainOne-Regular.ttf');
}

.header{
    -fx-font-family: "Koulen";
    -fx-font-size: 30px;
}

.dashboard{
    -fx-background-color: #F2F4FF;
}

.date{
    -fx-font-family: "Koulen";
    -fx-fill: #6e6e6e;
}

.workoutAtLabel, .calorieLabel{
    -fx-font-family: "Koulen";
}

.quote{
    -fx-font-family: "Koulen";
    -fx-font-size: 15px;
}

.numbers{
    -fx-font-family: "Train One";
}

.workout, .calories{
    -fx-border-radius: 10px;
    -fx-background-radius: 10px;
    -fx-background-color: linear-gradient(to top left, #f1f1f1, #ffffff);
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.2), 10, 0, 0, 0);
}