@font-face {
    font-family: "Koulen";
    src: url('../font/Koulen/Koulen-Regular.ttf');
}

.rootpane{
    -fx-background-color: #F2F4FF;
}

.months{
    -fx-background-radius: 15px;
    -fx-background-color: linear-gradient(to top left, #f1f1f1, #ffffff);
    -fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0, 0.2), 15, 0, 0, 0);
}

.monthLabels{
    -fx-font-family: Koulen;
    -fx-font-size: 20px;
}

.welcomeLabel{
    -fx-font-family: Koulen;
    -fx-font-size: 40px;
}

.name, .date{
    -fx-font-family: Koulen;
    -fx-font-size: 40px;
}